				<div id="solar-system" class="earth">
					  <div id="mercury" class="orbit">
						<div class="pos">
						 <a href="../events_test.php?event=7" title="TECHNOMANIAC">
							<div class="planet"  style="background-image: url('/2k18/logos/7.jpg');">
							<dl class="infos">
							  <dt>TECHNOMANIAC</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					
						
					  <div id="venus" class="orbit">
						<div class="pos">
						<a href="../events_test.php?event=7" title="TRICKYTRUSS">
						  <div class="planet"  style="background-image: url('/2k18/logos/5.jpg');">
							<dl class="infos">
							  <dt>TRICKYTRUSS</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  
					  
					  <div id="earth" class="orbit" title="INTELLOSTRUCT">
						<div class="pos">
						  <div class="orbit">
							<div class="pos">
							  <div class="moon"></div>
							</div>
						  </div>
						  <a href="../events_test.php?event=6">
						  <div class="planet"  style="background-image: url('/2k18/logos/6.jpg');">
							<dl class=" ">
							  <dt></dt>
							</dl>
						  </div>
						  </a>
						</div>
					  </div>

					   <div id="mars" class="orbit">
						<div class="pos">
						<a href="../events_test.php?event=20"  title="FUTSAL">
						  <div class="planet"  style="background-image: url('/2k18/logos/20.jpg');">
							<dl class="infos">
							  <dt>FUTSAL</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						</a>
						</div>
					  </div>
					  
 					  <div id="jupiter" class="orbit">
						<div class="pos">
						<a href="../events_test.php?event=22" style="background-image: url('/2k18/logos/22.jpg');" title="COVERSHOT">
						  <div class="planet">
							<dl class="infos">
							  <dt>COVERSHOT</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>

					  
					  <div id="saturn" class="orbit">
						<div class="pos">
						<a href="../events_test.php?event=24"  title="Auction">
						  <div class="planet" style="background-image: url('/2k18/logos/24.jpg');">
							<div class="ring"></div>
							<dl class="infos">
							  <dt>Auction</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>

					  
					  <div id="sun" style="background-image: url('img/civil.png');">
						<dl class="infos">
						  <dt>Aavishkar</dt>
						  <dd><span></span></dd>
						</dl>
					  </div>
					  </div>
					  