				<div id="solar-system" class="earth">
					  <div id="mercury" class="orbit">
						<div class="pos">
						 <a href="../events_test.php?id=10" title="ELECTROVISION">
							<div class="planet" style="background-image: url('/2k18/logos/10.jpg');">
							<dl class="infos">
							  <dt>ELECTROVISION</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					
						
					  <div id="venus" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=11" title="EXPISCOR">
						  <div class="planet"  style="background-image: url('/2k18/logos/11.jpg');">
							<dl class="infos">
							  <dt>EXPISCOR</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  
					  
					  <div id="earth" class="orbit" title="MAKE A DIFFERENCE">
						<div class="pos">
						  <div class="orbit">
							<div class="pos">
							  <div class="moon"></div>
							</div>
						  </div>
						  <a href="events_test.php?id=21">
						  <div class="planet"  style="background-image: url('/2k18/logos/21.jpg');">
							<dl class=" ">
							  <dt></dt>
							</dl>
						  </div>
						  </a>
						</div>
					  </div>

					   <div id="mars" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=29" id="mech_galaxy" title="KALAVISHKAR">
						  <div class="planet"  style="background-image: url('/2k18/logos/29.jpg');">
							<dl class="infos">
							  <dt>KALAVISHKAR</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						</a>
						</div>
					  </div>
					  
					  <div id="sun" style="background-image: url('img/elect.png');">
						<dl class="infos">
						  <dt>Aavishkar</dt>
						  <dd><span></span></dd>
						</dl>
					  </div>
					  </div>
					  