				<div id="solar-system" class="earth">
					  <div id="mercury" class="orbit">
						<div class="pos">
						 <a href="../events_test.php?id=12"  title="TECHNO-SIM">
							<div class="planet" style="background-image: url('/2k18/logos/12.jpg');">
							<dl class="infos">
							  <dt>TECHNO-SIM</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					
						
					  <div id="venus" class="orbit"  title="TECH EXPO">
						<div class="pos">
						<a href="../events_test.php?id=13" >
							 <div class="planet" style="background-image: url('/2k18/logos/13.jpg');">
							<dl class="infos">
							  <dt>TECH EXPO</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						</a>
					</div>
				</div>
					
					  <div id="earth" class="orbit"  title="START IT UP">
						<div class="pos">
						  <div class="orbit">
							<div class="pos">
							  <div class="moon"></div>
							</div>
						  </div>
						  <a href="../events_test.php?id=14">
						  <div class="planet" style="background-image: url('/2k18/logos/14.jpg');">
							<dl class="infos">
							  <dt>START IT UP</dt>
							</dl>
						  </div>
						  </a>
						</div>
					  </div>

					  <div id="sun" style="background-image: url('img/entc.png');">
						<dl class="infos">
						  <dt>Aavishkar</dt>
						  <dd><span></span></dd>
						</dl>
					  </div>
					  </div>
					