<div id="solar-system" class="earth">
					  <div id="mercury" class="orbit">
						<div class="pos">
						 <a href="#" id="it_galaxy" title="Information Technology Events">
							<div class="planet">
							<dl class="infos">
							  <dt>IT</dt> 
							  <dd><span></span></dd>
							</dl>
						  </div>
						</a>
						</div>
					  </div>
					<script type="text/javascript">
						
					</script>
						
					  <div id="venus" class="orbit">
						<div class="pos">
						<a href="#" id="mca_galaxy" title="MCA Events">
						  <div class="planet">
							<dl class="infos">
							  <dt>MCA</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  					  <div id="earth" class="orbit" title="CIVIL Events">
						<div class="pos">
						  <div class="orbit">
							<div class="pos">
							  <div class="moon"></div>
							</div>
						  </div>
						  <a href="#" id="civil_galaxy">
						  <div class="planet">
							<dl class=" ">
							  <dt></dt>
							</dl>
						  </div>
						  </a>
						</div>
					  </div>
					  
					  <div id="mars" class="orbit">
						<div class="pos">
						<a href="#" id="mech_galaxy" title="MECHANICAL Events">
						  <div class="planet">
							<dl class="infos">
							  <dt>MECHANICAL</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						</a>
						</div>
					  </div>
					  <div id="jupiter" class="orbit">
						<div class="pos">
						<a href="#" id="elect_galaxy" title="ELECTRICAL Events">
						  <div class="planet">
							<dl class="infos">
							  <dt>ELECTRICAL</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  <div id="saturn" class="orbit">
						<div class="pos">
						<a href="#" id="entc_galaxy" title="ENTC Events">
						  <div class="planet" >
							<div class="ring"></div>
							<dl class="infos">
							  <dt>ENTC</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  <div id="uranus" class="orbit">
						<div class="pos">
						<a href="#" id="nontech_galaxy" title="NON-TECHNICAL Events">
						  <div class="planet">
							<dl class="infos">
							  <dt>NON TECHNICAL</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  <div id="neptune" class="orbit">
						<div class="pos">
						<a href="#" id="register_galaxy" title="Registration">
						  <div class="planet">
							<dl class="infos">
							  <dt>REGISTER</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  <div id="sun">
						<dl class="infos">
						  <dt>Aavishkar</dt>
						  <dd><span></span></dd>
						</dl>
					  </div>
					</div>
				  </div>
				  
<script type="text/javascript">
	


						jQuery('#mca_galaxy').click(function(){

					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/mca.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
					  	jQuery('#it_galaxy').click(function(){


					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/it.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
						
					  	jQuery('#civil_galaxy').click(function(){
					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/civil.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
						
					  	jQuery('#mech_galaxy').click(function(){
					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/mech.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
						
					  	jQuery('#entc_galaxy').click(function(){

					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/entc2.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
						
					  	jQuery('#elect_galaxy').click(function(){
					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/elect.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
						
						jQuery('#mca_galaxy2').click(function(){
					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/mca.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
					  	
						jQuery('#it_galaxy2').click(function(){


					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/it.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
					  	
						jQuery('#civil_galaxy2').click(function(){


					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/civil.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
					  	
						jQuery('#mech_galaxy2').click(function(){


					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/mech.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
					  	
						jQuery('#entc_galaxy2').click(function(){
					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/entc2.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
						
					  	jQuery('#elect_galaxy2').click(function(){


					  		$('#galaxy').fadeOut(1000,function(){
					  			$("#galaxy").load("departments/elect.html");
					  			$('#sun').css("background-image: img/aalogo2.png")
					  		});
					  		
					  		$('#galaxy').fadeIn();
					  	});
					  </script>