				<div id="solar-system" class="earth">
					  <div id="mercury" class="orbit">
						<div class="pos">
						 <a href="../events_test.php?id=1" title="QUERY MASTER">
							<div class="planet" style="background-image: url('/2k18/logos/1.jpg');">
							<dl class="infos">
							  <dt>QUERY MASTER</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					
						
					  <div id="venus" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=2" title="CODETRIX">
						  <div class="planet" style="background-image: url('/2k18/logos/2.jpg');">
							<dl class="infos">
							  <dt>CODETRIX</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  
					  
					  <div id="earth" class="orbit" title="ENGG STUDENTS PARLIAMENT">
						<div class="pos">
						  <div class="orbit">
							<div class="pos">
							  <div class="moon"></div>
							</div>
						  </div>
						  <a href="../events_test.php?id=3">
						  <div class="planet" style="background-image: url('/2k18/logos/3.jpg');">
							<dl class=" ">
							  <dt></dt>
							</dl>
						  </div>
						  </a>
						</div>
					  </div>

					   <div id="mars" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=15"  title="CAPTURE THE FLAG">
						  <div class="planet" style="background-image: url('/2k18/logos/15.jpg');">
							<dl class="infos">
							  <dt>CAPTURE THE FLAG</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						</a>
						</div>
					  </div>
					  
  					  <div id="jupiter" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=26" title="Pinnale">
						  <div class="planet"  style="background-image: url('/2k18/logos/26.jpg');">
							<dl class="infos">
							  <dt>PINNACLE</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  <div id="saturn" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=27"  title="C-STRIKE">
						  <div class="planet"  style="background-image: url('/2k18/logos/27.jpg');">
							<div class="ring"></div>
							<dl class="infos">
							  <dt>CSTRIKE</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  <div id="uranus" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=28" title="Singing">
						  <div class="planet"  style="background-image: url('/2k18/logos/28.jpg');">
							<dl class="infos">
							  <dt>Singing</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>

					  
					  
					  
					  <div id="sun" style="background-image: url('img/it.png');">
						<dl class="infos">
						  <dt>Aavishkar</dt>
						  <dd><span></span></dd>
						</dl>
					  </div>
					  </div>
					  