				<div id="solar-system" class="earth">
					  <div id="mercury" class="orbit">
						<div class="pos">
						 <a href="../events_test.php?id=17"  title="Web Era">
							<div class="planet" style="background-image: url('/2k18/logos/17.jpg');">
							<dl class="infos">
							  <dt>Web Era</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					
						
					  <div id="venus" class="orbit"  title="Blind Coding">
						<div class="pos">



						<a href="../events_test.php?id=18" >
							 <div class="planet" style="background-image: url('/2k18/logos/18.jpg');">
							<dl class="infos">
							  <dt>Blind Coding</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 
						</a>

 			 
						</div>
					  </div>
					
					  <div id="earth" class="orbit"  title="Quiz Fest">
						<div class="pos">
						  <div class="orbit">
							<div class="pos">
							  <div class="moon"></div>
							</div>
						  </div>
						  <a href="../events_test.php?id=16">
						  <div class="planet" style="background-image: url('/2k18/logos/16.jpg');">
							<dl class=" ">
							  <dt></dt>
							</dl>
						  </div>
						  </a>
						</div>
					  </div>

					  <div id="sun" style="background-image: url('img/mca.PNG');">
						<dl class="infos">
						  <dt>Aavishkar</dt>
						  <dd><span></span></dd>
						</dl>
					  </div>
					  </div>
					