				<div id="solar-system" class="earth">
					  <div id="mercury" class="orbit">
						<div class="pos">
						 <a href="../events_test.php?id=7" title="CATIA MODELLING">
							<div class="planet" style="background-image: url('/2k18/logos/7.jpg');">
							<dl class="infos">
							  <dt>CATIA MODELLING</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					
						
					  <div id="venus" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=8" title="ASSEMBLUX">
						  <div class="planet" style="background-image: url('/2k18/logos/8.jpg');">
							<dl class="infos">
							  <dt>ASSEMBLUX</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  
					  
					  <div id="earth" class="orbit" title="HYDRO ROCKETARY">
						<div class="pos">
						  <div class="orbit">
							<div class="pos">
							  <div class="moon"></div>
							</div>
						  </div>
						  <a href="../events_test.php?id=9" title="HYDRO ROCKETARY">
						  <div class="planet" style="background-image: url('/2k18/logos/9.jpg');">
							<dl class=" ">
							  <dt></dt>
							</dl>
						  </div>
						  </a>
						</div>
					  </div>

					   <div id="mars" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=19" id="mech_galaxy" title="BOX CRICKET">
						  <div class="planet" style="background-image: url('/2k18/logos/19.jpg');">
							<dl class="infos">
							  <dt>BOX CRICKET</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						</a>
						</div>
					  </div>
					  
					  <div id="jupiter" class="orbit">
						<div class="pos">
						<a href="../events_test.php?id=23" id="elect_galaxy" title="ROBO ARENA">
						  <div class="planet" style="background-image: url('/2k18/logos/23.jpg');">
							<dl class="infos">
							  <dt>ROBO ARENA</dt>
							  <dd><span></span></dd>
							</dl>
						  </div>
						 </a>
						</div>
					  </div>
					  
					  <div id="sun" style="background-image: url('img/mech.PNG');">
						<dl class="infos">
						  <dt>Aavishkar</dt>
						  <dd><span></span></dd>
						</dl>
					  </div>
					  </div>
					  