﻿
    
.cssload-preloader {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}

.cssload-preloader > .cssload-preloader-box {
	position: absolute;
	height: 29px;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -146px;
	perspective: 195px;
		-o-perspective: 195px;
		-ms-perspective: 195px;
		-webkit-perspective: 195px;
		-moz-perspective: 195px;
}

.cssload-preloader .cssload-preloader-box > div {
	position: relative;
	width: 29px;
	height: 29px;
	background: rgba(11,166,3,0.98);
	float: left;
	text-align: center;
	line-height: 29px;
	font-family: Verdana;
	font-size: 19px;
	color: rgba(250,250,250,0.88);
}.cssload-preloader .cssload-preloader-box > div:nth-child(1) {
	background: rgba(255,255,255,0.97);
	margin-right: 15px;
	animation: cssload-movement 780ms ease 0ms infinite alternate;
		-o-animation: cssload-movement 780ms ease 0ms infinite alternate;
		-ms-animation: cssload-movement 780ms ease 0ms infinite alternate;
		-webkit-animation: cssload-movement 780ms ease 0ms infinite alternate;
		-moz-animation: cssload-movement 780ms ease 0ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(2) {
	background: rgb(51,102,255);
	margin-right: 15px;
	animation: cssload-movement 780ms ease 97.5ms infinite alternate;
		-o-animation: cssload-movement 780ms ease 97.5ms infinite alternate;
		-ms-animation: cssload-movement 780ms ease 97.5ms infinite alternate;
		-webkit-animation: cssload-movement 780ms ease 97.5ms infinite alternate;
		-moz-animation: cssload-movement 780ms ease 97.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(3) {
	background: rgb(28,22,201);
	margin-right: 15px;
	animation: cssload-movement 780ms ease 195ms infinite alternate;
		-o-animation: cssload-movement 780ms ease 195ms infinite alternate;
		-ms-animation: cssload-movement 780ms ease 195ms infinite alternate;
		-webkit-animation: cssload-movement 780ms ease 195ms infinite alternate;
		-moz-animation: cssload-movement 780ms ease 195ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(4) {
	background: rgb(13,1,13);
	margin-right: 15px;
	animation: cssload-movement 780ms ease 292.5ms infinite alternate;
		-o-animation: cssload-movement 780ms ease 292.5ms infinite alternate;
		-ms-animation: cssload-movement 780ms ease 292.5ms infinite alternate;
		-webkit-animation: cssload-movement 780ms ease 292.5ms infinite alternate;
		-moz-animation: cssload-movement 780ms ease 292.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(5) {
	background: rgb(230,7,230);
	margin-right: 15px;
	animation: cssload-movement 780ms ease 390ms infinite alternate;
		-o-animation: cssload-movement 780ms ease 390ms infinite alternate;
		-ms-animation: cssload-movement 780ms ease 390ms infinite alternate;
		-webkit-animation: cssload-movement 780ms ease 390ms infinite alternate;
		-moz-animation: cssload-movement 780ms ease 390ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(6) {
	background: rgb(133,113,61);
	margin-right: 15px;
	animation: cssload-movement 780ms ease 487.5ms infinite alternate;
		-o-animation: cssload-movement 780ms ease 487.5ms infinite alternate;
		-ms-animation: cssload-movement 780ms ease 487.5ms infinite alternate;
		-webkit-animation: cssload-movement 780ms ease 487.5ms infinite alternate;
		-moz-animation: cssload-movement 780ms ease 487.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(7) {
	background: rgb(235,235,18);
	margin-right: 15px;
	animation: cssload-movement 780ms ease 585ms infinite alternate;
		-o-animation: cssload-movement 780ms ease 585ms infinite alternate;
		-ms-animation: cssload-movement 780ms ease 585ms infinite alternate;
		-webkit-animation: cssload-movement 780ms ease 585ms infinite alternate;
		-moz-animation: cssload-movement 780ms ease 585ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(8) {
	background: rgb(237,9,40);
	margin-right: 15px;
	animation: cssload-movement 780ms ease 682.5ms infinite alternate;
		-o-animation: cssload-movement 780ms ease 682.5ms infinite alternate;
		-ms-animation: cssload-movement 780ms ease 682.5ms infinite alternate;
		-webkit-animation: cssload-movement 780ms ease 682.5ms infinite alternate;
		-moz-animation: cssload-movement 780ms ease 682.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(9) {
	background: rgb(66,58,58);
	margin-right: 15px;
	animation: cssload-movement 780ms ease 780ms infinite alternate;
		-o-animation: cssload-movement 780ms ease 780ms infinite alternate;
		-ms-animation: cssload-movement 780ms ease 780ms infinite alternate;
		-webkit-animation: cssload-movement 780ms ease 780ms infinite alternate;
		-moz-animation: cssload-movement 780ms ease 780ms infinite alternate;
}


@keyframes cssload-movement {
	from {
		transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: rgba(240,0,0,0.4);
	}
}

@-o-keyframes cssload-movement {
	from {
		-o-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-o-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: rgba(240,0,0,0.4);
	}
}

@-ms-keyframes cssload-movement {
	from {
		-ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-ms-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: rgba(240,0,0,0.4);
	}
}

@-webkit-keyframes cssload-movement {
	from {
		-webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-webkit-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: rgba(240,0,0,0.4);
	}
}

@-moz-keyframes cssload-movement {
	from {
		-moz-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-moz-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(51,102,255);
		background: rgba(240,0,0,0.4);
	}
}

