* {
    margin: 0;
    padding: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  min-height:175%;
  height:auto;
  display:block;
}

.stars {
  background:#000 url(images/stars.html) repeat ;

  z-index:0;
}

.twinkling{
  background:transparent url(images/twinkling.html) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 150s linear infinite;
  -ms-animation:move-twink-back 150s linear infinite;
  -o-animation:move-twink-back 150s linear infinite;
  -webkit-animation:move-twink-back 150s linear infinite;
  animation:move-twink-back 150s linear infinite;
}

